@model CxC.Models.AsientoContable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsientoContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAsiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAsiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoAsiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoAsiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsientoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
